<div class="table-responsive">
    <table id="tablaUsuario" class="table table-hover table-custom spacing8">
        <thead>
            <tr> 
                <th><input type="checkbox" id="checkForAll"/></th>
                <th>Alias</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Admin</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
                <tr>
                    <td class="w60">
                        <input type="checkbox" name="ids[]" value="{{ user.id }}" form="fBorrar"/>
                        <img src="
                        {% if (user.picture) %}
                            data:image/png;base64,{{ user.picture|raw }}
                        {% else %}
                            assets/images/user.png
                        {% endif %}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                    </td>
                    <td>{{ user.alias }}</td>
                    <td>{{ user.correo }}</td>
                    <td>{{ user.nombre }}</td>
                    <td>
                        {% if (user.activo) %}
                            <i class="fas fa-check-circle"></i>
                        {% else %}
                            <i class="fas fa-times-circle"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if (user.administrador) %}
                            <i class="fas fa-check-circle"></i>
                        {% else %}
                            <i class="fas fa-times-circle"></i>
                        {% endif %}
                    </td>
                    <td scope="row"><a class="btn btn-round btn-success" href="dashboard/edit?id={{ user.id }}" class="editar">Editar</a></td>
                    <td scope="row"><a class="btn btn-round btn-danger" href="dashboard/dodelete?id={{ user.id }}" class="borrar">Borrar</a></td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>
<div class="row">
    <form action="dashboard/dodelete" method="post" name="fBorrar" id="fBorrar" >
        <input class="btn btn-danger" type="button" value="Borrar" data-toggle="modal" data-target="#confirm" />
    </form> 
    <a href="dashboard/insert" class="btn btn-success">Agregar Usuario</a>
</div>

