<form action="dashboard">
    <input type="hidden" name="order" value="{{ order }}">
    <div class="col-md-3">
        <input type="text"  class="form-control" name="filtro">
    </div>
    <input type="submit" value="Search">
</form>
<div class="table-responsive">
    <table id="tablaUsuario" class="table table-hover table-custom spacing8">
        <thead>
            <tr> 
                <th><a href="dashboard?order=id">#</a></th>
                <th><a href="dashboard?order=alias">Alias</a></th>
                <th><a href="dashboard?order=nombre">Nombre</a></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
                <tr>
                    <td class="w60">
                        <img src="
                        {% if (user.picture) %}
                            data:image/png;base64,{{ user.picture|raw }}
                        {% else %}
                            assets/images/user.png
                        {% endif %}" data-toggle="tooltip" data-placement="top" title="Avatar Name" alt="Avatar" class="w35 rounded">
                    </td>
                    <td>{{ user.alias }}</td>
                    <td>{{ user.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-round btn-primary" href="dashboard?page={{ pagination.primero }}&order={{ order }}">Primero</a>
    {% for page in rango %}
        <a class="btn btn-round btn-primary" href="dashboard?page={{ page }}&order={{ order }}">{{ page }}</a>
    {% endfor %}
    <a class="btn btn-round btn-primary" href="dashboard?page={{ pagination.ultimo }}&order={{ order }}">Ultimo</a>
</div>
